@import 
url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
p{
		font-size: 40px;
		color: black;
		font-family: 'Poiret One', cursive;	
		}
		img {
			width: 100%; 

		}
		span{
			background-color: grey;
			color;
			padding: 3px;
		}
		div{
			width: 60%;
			width: 60%;
			margin: auto;
		background-color: revert-layer;
		width: 60%;
		
	
		width: 60%;
		background-color: revert-layer;
		margin: auto;
		box-shadow: 0 0 10px 1px rgba(5, 59, 255, .4);
		}
		h1{
		
	font-size: 50px;
        color:A2678A
	font-size: 40px;
        color:black;
}	
body{
	background-color: revert-layer;
	font-size: 30px;
        color:#A2678A;
}
li{

}
a{
	text-decoration: none;
color: #3F1D38;
border-bottom: 4px solid transparent;
display: inline-block;
margin: 10PX 0;
}

		a:hover {
			border-bottom-color: #3F1D38;
		}
	
		echo "# arivishn" >> README.md 
git init 
git add README.md 
git commit -m "первая фиксация" 
git Branch -M main 
git удаленное добавление источника https://github.com/arivish/arivish.github.io.git
 
	