@font-face{
	font-family: 'Poiret One';
	src:
	url href="https://fonts.googleapis.com">
}


* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-color: #D8BFD8;
}
.main{
	background-color: #E6E6FA;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 20px 1px rgba(400, 0, 300, 0.5); 
	display: flex;
	flex-wrap: wrap;
}
.item{
	max-width: 490px;
	max-height: 265px;
	height: calc(95vw / 2 / 16 * 9);
	width: calc(90vw - 10px);
	background-color: dodgerblue;
	margin: 5px;
	background-position: center;
	background-size: cover;
}
.heading {
font-size: 48px;
text-align: center;
width: 100%;
padding: 50px ;
}
.img_link
   @font-face{
	font-family: 'Poiret One';
	src:
	url href="https://fonts.googleapis.com">
}


* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-color: #D8BFD8;
}
.main{
	background-color: #E6E6FA;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 20px 1px rgba(400, 0, 300, 0.5); 
	display: flex;
	flex-wrap: wrap;
}
.item{
	max-width: 490px;
	max-height: 265px;
	height: calc(95vw / 2 / 16 * 9);
	width: calc(90vw - 10px);
	background-color: dodgerblue;
	margin: 5px;
	background-position: center;
	background-size: cover;
}
.heading {
font-size: 48px;
text-align: center;
width: 100%;
padding: 50px ;
}
.img_link
   
